<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./shared/head') -%>
    <link rel="stylesheet" href="/order.css" />
  </head>

  <body>
    <%- include('./shared/nav_header') -%>

    <div class="main-content">
        <h1>Narudžba #<%= order.order_id %></h1>

        <% if (err) { %>
        <div class="err">
          <p><%= err %></p>
        </div>
        <% } %>

        <div class="form">
        <form action="/orders/<%= order.order_id %>" method="post" class="form" id="master">
          <div class="form-item">
            <label>Stol</label>
            <select name="table" id="table">
              <% tables.forEach(t => { %>
              <option
                value="<%= t.id %>"
                <%= order.table_id === t.id ? "selected" : "" %>
              >
                <%= t.name %>
              </option>
              <% }); %>
            </select>
          </div>

          <div class="form-item">
            <label>Status</label>
            <select name="status" id="status">
              <option value="pending" 
              <%= order.status === "pending" ? "selected" : "" %>
                >Neispunjena</option>
              <option value="delivered" 
              <%= order.status === "delivered" ? "selected" : "" %>
              >Isporučena</option>
              <option value="canceled" 
              <%= order.status === "canceled" ? "selected" : "" %>
              >Otkazana</option>
            </select>
          </div>
      </form>
        <div class="form-buttons">
          <input type="submit" value="Spremi izmjene" form="master"/>

          <form action="/orders/<%= order.order_id  %>/delete" method="post">
            <input type="submit" value="Obriši narudžbu" />
          </form>
        </div>
      </div>

      <div class="section">
        <h3 class="section-title">Naručeni artikli</h3>

        <div class="article-list">
          <% if (!order.articles.length) { %>
            <div class="articl">
              <p class="semibold">Nema artikala u ovoj narudžbi.</p>
            </div>
          <% } %>

          <% order.articles.forEach((a) => { %>
            <div class="article">
              <p>
                <%= a.article_name %>
              </p>
              
              <div class="article-right">
                <p><%= (a.article_price / 100).toFixed(2) %>&#8364;/kom.</p> 


                <div id="<%= a.article_id %>" class="dynamic-container">

                  <p><%=a.quantity %> kom.</p>

                  <input
                    type="button"
                    value="Uredi"
                    onclick="replaceArticleWidthEditable(<%= order.order_id %>,<%= a.article_id %>,<%= a.quantity %>);"
                  />
                </div>

                <form
                  action="/orders/<%= order.order_id %>/remove"
                  method="post">
                  <input type="hidden" name="article" value="<%= a.article_id %>" />
                  <input type="submit" value="Ukloni" />
                </form>
              </div>
            </div>
          <% }); %>
          
          <div class="article">
            <p class="semibold">Ukupno: <%= (order.articles.reduce((acc, a) => acc + (a.article_price *
              a.quantity), 0) / 100).toFixed(2) %>&#8364;</p>
          </div>
        </div>
    </div>

      <div class="section">
        <h3 class="section-title">Dodaj novi artikl</h3>

        <form
          action="/orders/<%= order.order_id %>/add"
          method="post"
          class="form"
        >
          <div class="form-item">
            <label for="article">Artikl</label>

            <select name="article" id="article">
                <% articles.forEach(a => { %>
                <option value="<%= a.id %>"><%= a.name %></option>
                <% }); %>
            </select>
          </div>

          <div class="form-item">
            <label for="qyt">Količina</label>
            <input type="number" name="qyt" id="qyt" value="1" required />
          </div>

          <input type="submit" value="Dodaj" />
        </form>
      </div>
    </div>

    <script>
      function replaceArticleWidthEditable(order_id, id, initial_qyt) {
        const html = `
          <form action="/orders/${order_id}/quantity" method="post">
            <input type="number" value="${initial_qyt}" name="qyt"/>
            <input type="hidden" name="article" value="${id}" />
            <input type="submit" value="Spremi" />
          </form>
        `;

        document.getElementById(id).innerHTML = html;
      }
    </script>
  </body>
</html>
