<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./shared/head') -%>
    <link rel="stylesheet" href="/orders.css" />
  </head>

  <body>
    <%- include('./shared/nav_header') -%>

    <div class="main-content">
      <div class="title-row">
        <h1>Nardužbe</h1>

        <a href="/orders/new"> Stvori novu narudžbu </a>
      </div>

      <div class="order-list">
        <% orders.forEach((o) => { %>
        <div class="order-list-item">
          <div>
            <h4>
              <a href="/orders/<%= o.order_id %>">
                Narudžba #<%= o.order_id %>
              </a>
            </h4>

            <div class="article-list">
              <% if (!o.articles.length) { %>
              <p>Nema artikala u ovoj narudžbi.</p>
              <% } %> <% o.articles.forEach((a) => { %>

              <p><%= a.article_name %> x<%= a.quantity %></p>
              <% }); %>
            </div>
          </div>

          <div class="order-list-item-right">
            <p class="order-list-item-status">
              <%= o.status === "canceled" ? "Otkazana" : o.status === "pending"
              ? "Neispunjena" : "Isporučena" %>
            </p>

            <p class="order-list-item-price">
              <%= (o.articles.reduce((acc, a) => acc + (a.article_price *
              a.quantity), 0) / 100).toFixed(2) %>&#8364;
            </p>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
