<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./shared/head') -%>
    <link rel="stylesheet" href="/tables.css" />
  </head>

  <body>
    <%- include('./shared/nav_header') -%>

    <div class="main-content">
      <div class="title-row">
        <h1>Stolovi</h1>

        <form action="/tables" method="get">
          <input type="text" name="query" id="query" value="<%= query %>" />
          <input type="submit" value="Pretraži" />
        </form>
      </div>

      <div class="table-list">
        <% if (!tables.length) { %>
        <div class="table-list-item">
          <p>Nije pronađen niti jedan stol.</p>
        </div>

        <% } %> <% tables.forEach((t) => { %>
        <div class="table-list-item">
          <p><a href="<%= `/tables/${t.id}` %>"><%= t.name %></a></p>
          <p>Broj mjesta: <%= t.capacity %></p>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
